*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

aside{
  width: 350px;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  z-index: 50;
}

aside::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
aside::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
aside::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgba(66, 65, 65, 0.075);  /* creates padding around scroll thumb */
}

.components{
  display: block;
}

.logo{
  color: #D30C5C;
}

.controle{
  z-index: 10;
  margin-left: -3px;
  overflow: hidden;
  cursor: pointer;
}

#start{
  height: 100vh;
}

main{
  width: auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header-1, .header-2{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.carousel, .c-img{
  height: 70vh;
  z-index: 1;
}

.c-item-01{
  background: url('./img/books-business-computer-connection-459654.jpg') no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.c-item-02{
  background: url('./img/pexels-photo-56759.jpeg') no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.c-item-03{
  background: url('./img/pexels-photo-583845.jpeg') no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.carousel-caption{
  z-index: 1;
}

.landing{
  background: url('./img/macbook-pro-129208.jpg') no-repeat center center;
  background-size: cover;
  height: 65vh;
}

.landing-txt{
  width: 65%;
  margin: 0 auto;
}

.search-area{
  display: flex;
}

.clip-area{
  display: grid;
  grid-template-columns: 60% 40%;
  background: url('./img/man-in-red-long-sleeved-shirt-853151.jpg') no-repeat top right;
  background-size: cover;
}

.clip-txt{
  height: 60vh;
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

h1 {
  font-size: 3.5rem;
}

h2{
  font-size: 1.7rem;
}

.section-01 div, .section-03, .section-02, .section-04{
  width: 80%;
  margin: 1rem auto;
}

.section-01-img{
  max-height: 330px;
  min-height: 130px;
  width: 100%;
}

.section-02{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
}

.section-02-img{
  max-height: 300px;
  display: block;
}

.hidden-p{
  display: block;
}

.product-list{
  display: block;
  border-radius: 10px;
}

.section-03{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}

.section-03 div{
  border-radius: 10px;
}

.product-row{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.course-img{
  min-height: 130px;
  max-height: 300px;
  width: 100%;
}

footer{
  margin-top: 2rem;
}

.footer-row{
  width: 80%;
}

@media (max-width: 1250px){
  aside{
    display: none;
  }

  main{
    height: auto;
    overflow-y: visible;
  }
}

@media screen and (max-width: 1200px){
  
  h1{
    font-size: 2.7rem;
  }

  h2{
    font-size: 1.5rem;
  }

  .product-list{
    display: none;
  }
  
  .section-03{
    grid-gap: 1rem;
  }

  .hidden-p{
    display: none;
  }

  .product-row{
    grid-gap: 1rem;
  }

}

@media screen and (max-width: 1000px){

  .section-01 div, .section-02, .section-03, .section-04{
    width: 90%;
  }

  .section-03{
    grid-gap: 0.6rem;
  }

  .carousel, .c-img{
    height: 60vh;
  }
  
  .c-item-01{
    height: 60vh;
  }
  
  .c-item-02{
    height: 60vh;
  }
  
  .c-item-03{
    height: 60vh;
  }

  .landing{
    height: auto;
  }
  
  .landing-txt{
    width: 80%;
    margin: 7% auto;
  }

  .search-area{
    display: none;
  }

  .clip-area{
    display: grid;
    grid-template-columns: 1fr;
  }

  .clip-txt{
    height: auto;
    padding: 7% 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  h1{
    font-size: 2.5rem;
  }

  .footer-row{
    width: 90%;
  }
}

@media screen and (max-width: 700px){
  .section-01 div, .section-02, .section-03, .section-04{
    width: 80%;
  }

  h2{
    font-size: 1.3rem;
  }

  .section-03, .product-row{
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .section-03 div {
    border-radius: 8px;
  }

  .section-02{
    grid-template-columns: 1fr;
  }

  .section-02-img{
    display: none;
  }

}

@media screen and (max-width: 500px){
  
  h1{
    font-size: 2rem;
  }

  p, li{
    font-size: 0.9rem;
  }

  .section-01 div, .section-02, .section-03, .section-04{
    width: 90%;
  }

  .section-03 div{
    border-radius: 6px;
  }

  .footer-row{
    width: 95%;
  }
}

@media screen and (max-width: 450px){
  h1{
    font-size: 1.5rem;
  }

  h2{
    font-size: 1.2rem;
  }

  p, li{
    font-size: 0.8rem;
  }

}