*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

aside{
  width: 350px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  z-index: 1;
}

.logo{
  background-color: #D30C5C;
}

.controle{
  z-index: 1;
  cursor: pointer;
}

#start{
  height: 100vh;
}

main{
  width: auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.carousel, .c-img{
  height: 70vh;
}

.c-item-01{
  background: url('./img/books-business-computer-connection-459654.jpg') no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.c-item-02{
  background: url('./img/pexels-photo-56759.jpeg') no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.c-item-03{
  background: url('./img/pexels-photo-583845.jpeg') no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.landing{
  background: url('./img/macbook-pro-129208.jpg') no-repeat center center;
  background-size: cover;
  height: 65vh;
}

.landing-txt{
  width: 65%;
  margin: 0 auto;
}

.search-area{
  display: flex;
}

.clip-area{
  display: grid;
  grid-template-columns: 60% 40%;
  background: url('./img/man-in-red-long-sleeved-shirt-853151.jpg') no-repeat top right;
  background-size: cover;
}

.clip-txt{
  height: 60vh;
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}


h1 {
  font-size: 3.5rem;
}

.section-01 div, .section-03, .section-04{
  width: 80%;
  margin: 1.5rem auto;
}

.section-02{
  width: 80%;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
}

.hidden-p{
  display: block;
}

.product-list{
  display: block;
  border-radius: 10px;
}

.section-03{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.section-03 div{
  border-radius: 10px;
}

.product-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.footer-row{
  width: 80vw;
}

@media screen and (max-width: 1500px){
  
  .landing-txt{
    width: 75%;
    margin: 0 auto;
  }

  h1{
    font-size: 3rem;
  }

  .section-01 div, .section-02, .section-03, .section-04{
    width: 90%;
    margin: 1.5rem auto;
  }

  .product-row{
    grid-gap: 2rem;
  }

  .footer-row{
    width: 90%;
  }
}

@media screen and (max-width: 1200px){
  
  aside{
    display: none;
  }

  main{
    height: auto;
    overflow-y: visible;
  }

  h1{
    font-size: 2.7rem;
  }

  .product-list{
    display: none;
  }
  
  .section-02{
    grid-template-columns: 1fr;
  }

  .section-03{
    grid-gap: 1rem;
  }

  .hidden-p{
    display: none;
  }

  .product-row{
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 1000px){
  .carousel, .c-img{
    height: 60vh;
  }
  
  .c-item-01{
    height: 60vh;
  }
  
  .c-item-02{
    height: 60vh;
  }
  
  .c-item-03{
    height: 60vh;
  }

  .landing{
    height: auto;
  }
  
  .landing-txt{
    width: 80%;
    margin: 7% auto;
  }

  .search-area{
    display: none;
  }

  .clip-area{
    display: grid;
    grid-template-columns: 1fr;
  }

  .clip-txt{
    height: auto;
    padding: 7% 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  h1{
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px){
  .section-03, .product-row{
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .product-row-02{
    display: none;
  }
}

@media screen and (max-width: 500px){
  h1{
    font-size: 2rem;
  }
}